.home-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.375rem;
  .main {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    .section-below-the-fold {
      // min-height: 50rem;
      .section-category-list {
        display: block;
        min-height: 302px;
        .home-category-list {
          .shopee-header-section {
            padding-top: 1.25rem;
            .header {
              background: #fff;
              height: 3.75rem;
              border-bottom: 1px solid rgba(0, 0, 0, 0.05);
              padding: 0 1.25rem;
              display: flex;
              align-items: center;
              .title {
                font-size: 1rem;
                color: rgba(0, 0, 0, 0.54);
                font-weight: 500;
                text-transform: uppercase;
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-right: 1.25rem;
              }
            }
            .content {
            }
          }
        }
      }
    }
  }
}
