.pagination {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border: 1px solid #34a5da;
  color: #34a5da;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #ffffff;
  background: #34a5da;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
